
<header>
  <ul class="menu-global menu align-right">
    <li><a class="page0  page0--active-<!-- @@var active --> button"  href="/index.html"   data-transition='section'>home</a></li>
    <li><a class="page1  page1--active-<!-- @@var active --> button"  href="/page1.html"   data-transition='section'>nesw page 1</a></li>
    <li><a class="page2  page2--active-<!-- @@var active --> button"  href="/projets.html" data-transition='section'>projets</a></li>
    <li><a class="page3  page3--active-<!-- @@var active --> button"  href="page3.html"   data-transition='section'>page 3</a></li>
    <li><a class="page3  page3--active-<!-- @@var active --> button"  href="/webbook/"    data-transition='section'>Blog</a></li>
    <li><a class="page3  page3--active-<!-- @@var active --> button"  href="/boite-outils.html" data-transition='section'>Boite à outils</a></li>
    <li><a class="page3  page3--active-<!-- @@var active --> button"  href="/styles-guide.html" data-transition='section'>Styles Guide</a></li>
  </ul>
</header>
