
          <p class="lead">Texte d'intro présentant le contexte : quelques travaux de travaux réscents</p>

          <div class="grid-container  projets">
            <div class="grid-x ">

              <div class="cell medium-6 projets__item  ">
                <a href="#nogo" class="projet__lien">
                  <img data-src="_assets/img/projets/chalandise/ecran-chalandise.jpg" width="640" height="480" />
                  <div class="text-box">
                        <span class="caption"><strong>Wordpress</strong>, <strong>HTML</strong>, <strong>CSS</strong>, <strong>jQuery</strong>, <strong>Responsive</strong></span>
                        <h2>The Maple Building</h2>
                        <i class="arrow-icon icon-arrow-right"><span class="hide-box">Arrow Right</span></i>
                  </div>
                </a>
              </div>


              <div class="cell medium-6 projets__item">
                <a href="#nogo" class="projet__lien">
                  <img data-src="_assets/img/projets/maison-et-services/ecran-maison-et-services.jpg" width="640" height="480" />
                  <div class="text-box">
                        <span class="caption"><strong>Wordpress</strong>, <strong>HTML</strong>, <strong>CSS</strong>, <strong>jQuery</strong>, <strong>Responsive</strong></span>
                        <h2>The Maple Building</h2>
                        <i class="arrow-icon icon-arrow-right"><span class="hide-box">Arrow Right</span></i>
                  </div>
                </a>
              </div>



              <div class="cell medium-6 projets__item">
                <a href="#nogo" class="projet__lien">
                  <img data-src="_assets/img/projets/emploi/ecran-emploi.jpg" width="640" height="480" />
                  <div class="text-box">
                        <span class="caption"><strong>Wordpress</strong>, <strong>HTML</strong>, <strong>CSS</strong>, <strong>jQuery</strong>, <strong>Responsive</strong></span>
                        <h2>The Maple Building</h2>
                        <i class="arrow-icon icon-arrow-right"><span class="hide-box">Arrow Right</span></i>
                  </div>
                </a>
              </div>


              <div class="cell medium-6 projets__item">
                <a href="#nogo" class="projet__lien">
                  <img data-src="_assets/img/projets/dev-reseau/ecran-dev-reseau.jpg" width="640" height="480" />
                  <div class="text-box">
                        <span class="caption"><strong>Wordpress</strong>, <strong>HTML</strong>, <strong>CSS</strong>, <strong>jQuery</strong>, <strong>Responsive</strong></span>
                        <h2>The Maple Building</h2>
                        <i class="arrow-icon icon-arrow-right"><span class="hide-box">Arrow Right</span></i>
                  </div>
                </a>
              </div>

              <div class="cell medium-6 projets__item">
                <a href="#nogo" class="projet__lien">
                  <img data-src="_assets/img/projets/emploi/ecran-emploi.jpg" width="640" height="480" />
                  <div class="text-box">
                        <span class="caption"><strong>Wordpress</strong>, <strong>HTML</strong>, <strong>CSS</strong>, <strong>jQuery</strong>, <strong>Responsive</strong></span>
                        <h2>The Maple Building</h2>
                        <i class="arrow-icon icon-arrow-right"><span class="hide-box">Arrow Right</span></i>
                  </div>
                </a>
              </div>


              <div class="cell medium-6 projets__item">
                <a href="#nogo" class="projet__lien">
                  <img data-src="_assets/img/projets/dev-reseau/ecran-dev-reseau.jpg" width="640" height="480" />
                  <div class="text-box">
                        <span class="caption"><strong>Wordpress</strong>, <strong>HTML</strong>, <strong>CSS</strong>, <strong>jQuery</strong>, <strong>Responsive</strong></span>
                        <h2>The Maple Building</h2>
                        <i class="arrow-icon icon-arrow-right"><span class="hide-box">Arrow Right</span></i>
                  </div>
                </a>
              </div>

            </div>

          </div>


          <h2>Images</h2>
          Tailles : 640 x 480 (bg-color : [ #363636 , #242424])
