<!-- Affichages des logos des differents logiciels, frameWorks connus -->
//
// scss : tech.scss


<div class="tech__wrapper grid-container full">

  <div class="grid-x small-up-2 medium-up-3 large-up-4">

    <div class="cell">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg" class="tech__logo" alt="logo css3">
    </div>
    <div class="cell">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" class="tech__logo" alt="logo html5">
    </div>
    <div class="cell">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/96/Sass_Logo_Color.svg?uselang=fr" class="tech__logo" alt="logo sass">
    </div>

    <div class="cell">
      <img src="https://upload.wikimedia.org/wikipedia/commons/d/d3/Logo_jQuery.svg?uselang=fr" class="tech__logo" alt="logo jQuery">
    </div>


  </div>

</div>
