

.bg-vid {
  position:absolute;
  top:0;
  z-index: -1;

  min-height: 100vh;
  min-width:100vw;


  background-color : white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom right;




  &--home{   background-image: url('/_assets/img/P1090708.png');}

}





.bg-vid__calc-sup {
  position:absolute;
  display:block;
  width: 100%;
  height: 100%;
  opacity: 0.6;

  &:after{
    content:'';
    display: block;
    background-image: url(https://www.maison-et-services.com/00_RESSOURCES/IMGS/pattern.png);
    position: absolute;
    opacity: 0.5;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}
