
@import "book/_couleurs";

.header {
  position: fixed;
  top:0;
  z-index:10;
  width: 100vw;
  padding: $module/3;
//  background-color: #fff;


    @media #{$mobile} {
      padding:0;
    }


  &__signature{

  display: flex;
  float: left;

  }


  &__logo{
    float:left;

    width:$module;
    height:$module;
    background:$coul-1 ;
  }

  &__identite {
    margin: 0 0 0 8px;
    color:$coul-1 ;
    font-size: 18px;
    text-align: left;
  }

  &__accroche{
    @include font-1--thin;
    margin: 0 0 0 8px;
    text-align: left;
    font-size: 16px;
  }

}
