@import "book/_couleurs";



#menu {
  visibility: hidden;
  float:right;
  // position: absolute;
  // top:$module/3;
  // right:$module/3;
  // z-index: 2;

  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);


  @media #{$mobile} {

    position:fixed;
    top:0;
    right:0;


    width:$module;
    height:$module;

    background:$coul-3;
  }
}

.menu-global {

  @media #{$mobile} {display:none}

  &__hamburger {
  display: none;
  position: absolute;
  right: 0;

  width:$module;
  height:$module;

  @media #{$mobile} {
    display: block;
    background: $coul-2;
  }
 }
}




body.js-menu {

  #menu {

    width:100vw;
    height:100vh;


    & .menu-global {
    display: block;


     &__hamburger {
      display: block;
      background: $coul-1;
      left:0 ;
      bottom:12px;
      margin:auto;
     }
    }
  }

}
